<footer class="md:px-40 px-20 lg:pt-60 pt-20 bg-white/5 text-mytext">
  <div class="flex flex-col md:flex-row gap-10 items-center justify-between lg:mb-30 mb-10">
    <img src="./assets/images/logo.png" alt="footer logo" class="lg:h-50 h-30 my-10 footer-element">
    <div class="flex gap-5 social-icon-footer-section footer-element">
      <!-- Dynamic loaded by JavaScript -->
    </div>
  </div>
  <hr class="opacity-30">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mt-20">
    <div class="flex flex-col footer-element">
      <p class="font-bold text-xl lg:text-5xl lg:mb-20">Contact</p>
        <div class="flex items-center mb-10 gap-6 md:gap-10">
          <i class="fa-solid fa-phone text-primary bg-secondary rounded-full lg:text-base text-xs p-6 lg:p-8"></i>

          <!-- Mobile no -->
          <a class="md:text-base font-medium text-xs lg:text-2xl phone"></a>
        </div>
        <div class="flex items-center mb-10 gap-6 md:gap-10">
          <i class="fa-solid fa-envelope text-primary bg-secondary rounded-full lg:text-base text-xs p-6 lg:p-8"></i>

          <!-- email -->
          <a class="md:text-base font-medium text-xs lg:text-2xl email"></a>
        </div>
        <div class="flex items-center gap-10">
          <i class="fa-solid fa-earth-americas text-primary bg-secondary rounded-full lg:text-base text-xs p-6 lg:p-8"></i>

          <!-- Address -->
          <a class="md:text-base font-medium text-xs lg:text-2xl address"></a>
        </div>
    </div>
    <div class="flex flex-col my-10 lg:my-0 font-light footer-element">
      <p class="font-font1 font-bold text-xl lg:text-5xl lg:mb-20">Site Map</p>
      <a href="./index.html" class="text-sm lg:text-2xl font-medium lg:leading-35 after:content-[''] after:h-3 after:w-0 hover:after:w-full after:transition-all transition-all relative after:absolute after:bg-primary after:bottom-2 hover:text-primary after:left-0 w-max">Home</a>
      <a href="./about.html" class="text-sm lg:text-2xl font-medium lg:leading-35 after:content-[''] after:h-3 after:w-0 hover:after:w-full after:transition-all transition-all relative after:absolute after:bg-primary after:bottom-2 hover:text-primary after:left-0 w-max">About</a>
      <a href="./portfolio.html" class="text-sm lg:text-2xl font-medium lg:leading-35 after:content-[''] after:h-3 after:w-0 hover:after:w-full after:transition-all transition-all relative after:absolute after:bg-primary after:bottom-2 hover:text-primary after:left-0 w-max">Portfolio</a>
      <a href="./contact.html" class="text-sm lg:text-2xl font-medium lg:leading-35 after:content-[''] after:h-3 after:w-0 hover:after:w-full after:transition-all transition-all relative after:absolute after:bg-primary after:bottom-2 hover:text-primary after:left-0 w-max">Contact</a>
    </div>

  </div>

  <!-- Copyright text | Dynamic year and text loaded by JavaScript -->
  <p class="block text-center text-xs lg:text-lg mt-20 footer-element" id="copyright"></p>
  <script>
    
  </script>
  
  <div class="h-30"></div>
</footer>
