@import "tailwindcss";

@theme {
  --spacing: 1px;
  --color-textBase: var(--textBase);
  --color-mybg: var(--mybg);
  --color-primary2: var(--primary2);
  --color-mytext: var(--mytext);
  --color-primary: var(--primary);
  --color-uiMatchColor: var(--uiMatchColor);
  --color-secondary: var(--secondary);
  --font-myFont: var(--myFont);
  --animate-fly: fly 0.5s ease-in-out;
}
.subhero {
  background-image: url('../images/subhero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* button */
.btn {
  @apply bg-primary md:py-15 py-10 font-myFont md:px-30 px-20 mt-20 rounded-full text-xs md:text-lg lg:text-xl text-uiMatchColor font-bold after:content-[''] after:top-0 after:left-0 after:-translate-x-full hover:after:translate-x-0 after:transition-transform overflow-hidden after:absolute relative after:h-full after:w-full after:rounded-full after:bg-mytext inline-block after:ease-in-out;
  span {
    @apply relative z-10 cursor-pointer transition-all text-uiMatchColor;
    & i {
      @apply left-10 relative rotate-0 transition-all duration-400;
    }
  }
}
.btn:hover span {
  @apply text-black text-mybg
}
.btn:hover i {
  @apply -rotate-45 animate-bounce
}



.heroSection {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.12'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
body {
  overflow-x: hidden !important;
}

/* navigation menu */
.pcnav a {
  @apply transition-all p-10 rounded-2xl
}
.pcnav a:hover {
  @apply text-primary bg-primary/10
}
.activenavforpc {
  @apply bg-primary text-uiMatchColor;
  &:hover {
    background-color: var(--primary) !important;
    color: var(--uiMatchColor) !important;
  }
}
.activenavformobile {
  @apply bg-primary text-uiMatchColor
}


/* form */
form {
  input, textarea {
    @apply w-full border-2 lg:border-4 border-mytext/20 lg:text-lg text-lg font-bold lg:p-20 p-15 lg:rounded-3xl rounded-xl text-mytext focus:outline-0 focus:border-primary transition-all
  }
}

/* title */
.title {
  @apply flex justify-center mt-50 font-myFont;
  span {
    @apply mb-20 md:text-5xl text-3xl relative after:content-[''] after:bg-primary after:h-5 after:w-[70%] after:absolute after:-bottom-3 after:left-1/2 after:transform after:-translate-x-1/2 text-mytext
  }
}

/* portfolio cards */
.portfolio .card {
  &:hover img {
    @apply border-primary
  }
  &:hover p:nth-child(1) {
    @apply after:w-full
  }
  &:hover p:nth-child(2) {
    @apply opacity-100
  }
  div:nth-child(2) {
    &:hover i {
      @apply -rotate-45 text-uiMatchColor
    }
  }
}


*::selection {
  @apply text-mytext bg-primary/50
}



/* plan */
  .fa-circle-check {
    @apply mr-10 text-green-400
  }
  .fa-circle-minus {
    @apply mr-10 text-red-400
  }


/* nav for mobile */
#navBtn span {
  @apply h-3 w-2/4 bg-uiMatchColor absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-all rounded-[1px];
  &:nth-child(1) {
    @apply top-2/3
  }
  &:nth-child(2) {
    @apply top-1/3
  }
}
#navBtn.active span {
  &:nth-child(1) {
    @apply top-1/2 rotate-45
  }
  &:nth-child(2) {
    @apply top-1/2 -rotate-45
  }
  &:nth-child(3) {
    @apply top-1/2 opacity-0
  }
}
#mobileNavList.active {
  @apply top-70
}

/* scroll bar */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #3d3d3d;
}

/* social icon */
.iconContainer {
  @apply bg-transparent text-mytext lg:border-3 border-1 border-primary relative lg:text-2xl text-sm rounded-full aspect-square lg:h-60 h-30 lg:scale-90 lg:hover:scale-80 transition-all hover:bg-primary cursor-pointer;
  i {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-all;
  }
  &:hover i {
    @apply lg:animate-bounce
  }
}
#darkBtn {
  @apply h-40 lg:h-60
}



/* go top */
#top {
  position: absolute;
  top: 0;
}
html {
  scroll-behavior: smooth;
}
#goTop {
  position: fixed;
  bottom: 0px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--primary);
  /* border: 3px solid #007bff; */
  color: var(--uiMatchColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: all 0.5s ease;
  text-decoration: none;
}
#goTop:hover i {
  @apply lg:animate-bounce
}
#goTop.show {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}
#goTop svg {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
}
#goTop circle {
  fill: none;
  stroke: var(--uiMatchColor);
  stroke-width: 6;
  transition: stroke-dashoffset 0.1s ease;
}



/* youtube video pop up */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}
.popup {
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 60%;
  aspect-ratio: 16/9;
}
.overlay.active .popup {
  transform: scale(1);
  opacity: 1;
}
.popup iframe {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 95vw;
  max-height: 90vh;
  border: 4px rgba(255, 255, 255, 0.2) solid;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}
.close-btn {
  position: absolute;
  top: 0px;
  right: -50px;
  font-size: 40px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  z-index: 1000;
  @apply hover:text-primary transition-all;
}


/* hover effect to card */
.box, .left-box, .right-box, .plan {
  @apply transform hover:-translate-y-10 hover:bg-primary/30 transition-all;
}



/* swiper js - clients reciew */
.clientsSwiper {
  width: 100%;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex !important;
  align-items: stretch !important;
}
.swiper-slide {
  @apply bg-secondary text-mytext rounded-xl lg:rounded-3xl;
  height: auto !important;
  min-height: 0px !important;
  @apply p-10 lg:p-20 flex flex-col;
}
.swiper-slide span {
  @apply lg:text-xl text-xs text-mytext/70;
  /* flex-grow: 1 !important; */
  overflow-y: auto !important;
  max-height: 200px !important; /* HERE IS text-max-height, you can change this value */
  padding-right: 12px !important;
}
.swiper-slide img {
  @apply aspect-square object-cover rounded-xl lg:rounded-3xl;
  @apply h-80 lg:h-110;
  flex-shrink: 0 !important;
}
.swiper-slide > div:first-child {
  @apply flex gap-10;
}
.swiper-slide p:nth-child(1) {
  @apply lg:text-4xl text-xl font-bold;
}
.swiper-slide p:nth-child(2) {
  @apply text-sm lg:text-2xl;
}
.swiper-slide i {
  @apply text-amber-300 text-sm lg:text-xl mr-3
}
.swiper-pagination {
  position: relative !important;
  margin-top: 10px !important; /* 60px */
}
.swiper-pagination-bullet { background: var(--primary) !important; width:10px !important; height:10px !important; }
.swiper-pagination-bullet-active { background: var(--primary) !important; }



/* faq */
.faq-item {
  @apply mb-10 lg:mb-20 rounded-xl lg:rounded-3xl overflow-hidden;
}
.faq-question {
  @apply lg:p-40 p-15 bg-secondary hover:bg-primary/50 transition-all cursor-pointer flex justify-between items-center text-mytext lg:text-2xl font-bold;
}
.toggle-btn {
  @apply text-2xl transition-all;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  @apply bg-secondary transition-all px-20 lg:px-40 text-uiMatchColor text-sm lg:text-xl;
}
.faq-answer p {
  @apply my-10 lg:my-20
}
.faq-item.active .faq-question {
  @apply bg-primary text-uiMatchColor
}
.faq-item.active .faq-answer {
  max-height: 1000px;
  @apply bg-primary/90
}

.faq-item.active .toggle-btn {
  transform: rotate(45deg);
}